/act02/build/
/act03/build/
/act04/build/
/act01/.gradle/
/act01/build/
/act02/.gradle/
/act03/.gradle/
/act04/.gradle/
/act07/.gradle/
/act07/build/
/act08/.gradle/
/act08/build/
/act09/.gradle/
/act09/build/
/act10/.gradle/
/act10/build/
/act11/.gradle/
/act11/build/
/act12/.gradle/
/act12/build/
/act13/.gradle/
/act13/build/
/act14/.gradle/
/act14/build/
/act15/.gradle/
/act15/build/
/act16/.gradle/
/act16/build/